@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.navbar-brand, h1, h2, h3, h4 {
	font-family: 'Jeju Gothic';
}
h5 {
	font-family:'Jeju Gothic';
	font-size:18px;
}
body{
	font-family:'Nanum Gothic';
}
.calc-body {
	font-family:'Nanum Gothic';
	font-size:30px;
	width:25%;
}
.event-button {
	font-family:'Nanum Gothic';
	font-size:45px;
	width:33%;
}